<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(id) { %>
    <p>USER : <%= id %></p>
    <a href="/channel/<%= id %>">BROADCAST</a><br>
    <a href="/logout">LOG OUT</a>
    <% } else { %>
    <a href="/signup">SIGN UP</a>
    <br>
    <a href="/login">LOG IN</a>
    <% } %>
    <br>
    <a href="/channel">CHANNEL</a>
  </body>
</html>
